<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="Enterprise.Import.Service.Core.Config" type="Enterprise.Import.Service.Core.SyncDatabasesList, Enterprise.Import.Service" requirePermission="false" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File" fileName="${basedir}\Import1Cv77Service.log" layout="${date}|${level}|${message}${newline}"/>
      <target name="trace" xsi:type="File" fileName="${basedir}\Import1Cv77ServiceTrace.log" layout="${date}|${level}|${message}${newline}"/>
      <target name="console" xsi:type="Console" layout="${date}|${level}|${message}${newline}"/>      
    </targets>
    
    <targets async="true">
      <target name="Mail" xsi:type="Mail"
              subject="[Synchronization Service] Exception"
              layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${logger} | ${level:uppercase=true} | ${message} ${exception:format=tostring}"
              addNewLines="true"
              smtpServer="" smtpPort="587"
              from="" to="" cc=""
              smtpUserName="" smtpPassword=""
              smtpAuthentication="Basic" enableSsl="true"
          />
    </targets>
    <rules>
      <logger name="*" writeTo="trace" level="Trace"/>
      <logger name="*" writeTo="default" minlevel="Error"/>
      <logger name="*" writeTo="console" minlevel="Debug"/>
      <logger name="*" writeTo="Mail" minlevel="Error" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="Enterprise.Import.Service.Properties.Settings.EnterpriseConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Enterprise;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <Enterprise.Import.Service.Core.Config lastDays="1">    
    <Databases>
       <add DB1CPath="c:\temp\DBTEST1\" DB1CLogin="admin" DB1CPassword="123" SqlConnectionString="Data Source=localhost;Initial Catalog=legacy1C77DB1;Integrated Security=true;" /> 
        <add DB1CPath="c:\temp\DBTEST2\" DB1CLogin="admin" DB1CPassword="123" SqlConnectionString="Data Source=localhost;Initial Catalog=legacy1C77DB2;Integrated Security=true;" />
    </Databases>
  </Enterprise.Import.Service.Core.Config>
</configuration>